# autotools
Makefile
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
aclocal.m4
autom4te.cache/
m4/
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4

# test suite
test-driver
*.log
*.trs

# vmodtool
.vcc
vcc_if.c
vcc_if.h
vmod_*.rst

# misc
*~
*.[1-9]
